* {
    font-family:'Roboto', sans-serif;
}


.header {
    background-color: #1F2937;
    max-width: 1920px;
    height: 85px;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: flex-end;
}

.linkone {
    display: flex; 
}

.linktwo {
    display: flex;
        }

.linkthree {
    display: flex;
    margin-right: 170px;
    }
.first {
    display: flex;
    max-width: 150px;
    margin-right: 512px;
}

.headertwo {
    max-width: 1920px;
    height: 450px;
    background-color: #1F2937;
    display: flex;
  }

.headertwocontainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 180px;
}

.title {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.subtitle {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
}

.signup {
    display: flex;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 20px;
    padding-top: 4px;
    padding-left: 10px;
    text-align: center;
 }


.second {
    display: inline;
    max-width: 500px;
    padding-left: 400px;
    padding-top: 40px;
}

.mainpartone {
    background-color: white;
    max-width: 1920px;
    height: 450px;
}

.mainparttwo {
    background-color: #e5e7eb;
    max-width: 1920px;
    height: 450px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    font-weight: bold;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: 360px;
    margin-top: 80px;
    }


.photoone,
.phototwo,
.photothree,
.photofour {
    max-width: 200px;
    max-height: 200px;
    border-radius: 14px;
    display: flex;
    width: 200px;
}

.phototext {
    font-size: 18px;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
}