* {
    font-family:'Roboto', sans-serif;

}


.header {
    background-color: #1F2937;
    max-width: 1920px;
    height: 75px;
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: flex-end;
}

.linkone {
    display: flex; 
}

.linktwo {
    display: flex;
        }

.linkthree {
    display: flex;
    margin-right: 100px;
    }
.first {
    display: flex;
    max-width: 150px;
    margin-right: 675px;
}

.headertwo {
    max-width: 1920px;
    height: 450px;
    background-color: #1F2937;
  }

.headertwocontainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 85px;
}

.title {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.subtitle {
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
}

.signup {
    display: flex;
    width: 100px;
    border-radius: 8px;
    color: ;
}